.slider-container {
  width: 100%;
  height: 60vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  .slide {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes fadeInRight {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
    }
    @keyframes fadeInRight {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
    } 

    .fadeOutLeft {
      -webkit-animation-name: fadeOutLeft;
      animation-name: fadeOutLeft;
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      }
      @-webkit-keyframes fadeOutLeft {
      0% {
      opacity: 1;
      }
      100% {
      opacity: 0;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
      }
      }
      @keyframes fadeOutLeft {
      0% {
      opacity: 1;
      }
      100% {
      opacity: 0;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
      }
      }
  .slide-hidden {
    display: none;
  }
  .arrow {
    position: absolute;
    width: 2rem;
    height: 2rem;
    color: white;
    cursor: pointer;
  }
  .arrow-left {
    left: 1rem;
    z-index: 1;
  }
  .arrow-right {
    right: 1rem;
    z-index: 1;
  }
  .indicators {
    display: flex;
    position: absolute;
    bottom: 1rem;

    .indicator {
      background-color: white;
      border-radius: 100%;
      width: 0.5rem;
      height: 0.5rem;
      border: none;
      outline: none;
      margin: 0 0.2rem;
      cursor: pointer;
    }
    .indicator-inactive {
      background-color: grey;
    }
  }
}
